/* ======== GENERAL STYLES ========= */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  background-color: #f3eceb;
  font-size: 16px;
  line-height: 1.4;
}

/* a section element */
  {
  width: 900px;
  margin: auto;
}

/* an image element */
  {
  margin: auto;
  display: block;
}

/*-------- TYPOGRAPHY ---------*/

/* a heading 1 element */
  {
  font-family: serif;
  font-size: 40px;
  margin-top: 0;
  text-align: center;
}

/* an anchor element */
  {
  color: #e6a39a;
}

/*-------- HEADER AND NAVIGATION ---------*/

/* a header element */
  {
  background: url("images/hairdressing.jpeg") no-repeat top left;
  background-attachment: fixed;
  background-color: white;
}

/* an anchor element inside a header */
  {
  display: block;
  text-align: center;
}

/* a navigation element */
  {
  background-color: black;
  text-align: center;
  margin: 0 0 40px;
}

/* an unordered list inside a navigation */
  {
  list-style-type: none;
  padding-left: 0;
}

/* a list item inside a navigation */
  {
  display: inline-block;
  padding: 20px;
}

/* an anchor inside a navigation */
  {
  text-decoration: none;
}

/* ------- FOOTER ------- */

/* a footer element */
  {
  background-color: #000000;
  color: white;
  padding: 40px;
  text-align: center;
  margin-top: 80px;
}

/* ======== CONTENT BLOCKS ========= */

/* a self-contained group of content that advertises another part of the website */
  {
  text-align: center;
  background-color: #E8A49B;
  padding: 40px;
  margin: 40px 0;
}

/* an anchor inside an advert */
  {
  color: white;
}

/* the section of content that contains the price list on the Services page*/
  {
  background-color: #E8A49B;
  padding: 40px;
  margin: 40px auto;
}

/* a heading 2 inside the price list */
  {
  text-align: center;
  font-family: serif;
  font-size: 30px;
}

/* an unordered list inside the price list */
.prices ul {
  list-style-type: square;
}

/* the section of content that contains the contact information on the Contact page */
  {
  background-color: #E8A49B;
  padding: 40px;
  width: 500px;
  margin-bottom: 40px;
}

/* a horizontal ruler inside the contact info */
  {
  margin: 40px 0;
  height: 1px;
  border-width: 0;
  background-color: black
}

/* an anchor inside the contact info */
  {
  color: white;
}